site_name: Appwrite ORM Documentation
site_description: A TypeScript ORM package for Appwrite with web and server support
site_author: Ori Raisfeld
site_url: https://appwrite-orm.readthedocs.io/

repo_name: appwrite-orm
repo_url: https://github.com/raisfeld-ori/appwrite-orm
edit_uri: edit/main/docs/

theme:
  name: material
  logo: logo_small.png
  favicon: logo_small.png
  palette:
    - scheme: default
      primary: red
      accent: red
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: red
      accent: red
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Getting Started:
    - Quickstart: getting-started/quickstart.md
    - Configuration: getting-started/configuration.md
    - Supported Features: getting-started/supported-features.md
  - Web/Client:
    - Setup: web/setup.md
    - CRUD Operations: web/crud-operations.md
    - Queries: web/queries.md
    - Development Mode: web/development-mode.md
  - Node.js/Server:
    - Setup: server/setup.md
    - CRUD Operations: server/crud-operations.md
    - Queries: server/queries.md
    - Joins: server/joins.md
    - Bulk Operations: server/bulk-operations.md
    - Indexes: server/indexes.md
    - Migrations: server/migrations.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/raisfeld-ori/appwrite-orm
    - icon: fontawesome/brands/npm
      link: https://www.npmjs.com/package/appwrite-orm